/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

:root {
    --background-white: #fafbfd;
    --background-soft-pink: #F1E1D5;
    --text-black: #292929;
    --yellow-soft: #ffffc0;
}


html {
    scroll-behavior: smooth;
    background-color: var(--background-white);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* === Navbar style === */
nav {
    height: 80px;
    background: #E7AF9D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    
    position: relative;
    z-index: 1;
}

nav .logo {
    font-size: 25px;
    color: white;
    font-weight: 600;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    background: white;
    color: #1b1b1b;
}

nav .menu-btn i {
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

#menu-click {
    display: none;
}

.title-header {
    font-family: 'Satisfy';
    font-size: 100px;
    text-align: center;
    color: var(--text-black);
}

.title-header, .space2{
    margin-bottom: 2%;
}

.subtile-text {
    font-family: 'Caveat', cursive;
    font-size: 40px;
}

.icon-chef {
    margin-right: 5px;
}

/* === End Navbar style === */

/* === Home content === */
#Home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-soft-pink)
}

.main-home-content{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-left: 30px;
    margin-right: 20px;
}

.img-content {
    display: flex;
    justify-content: center;
}

.img-rol {
    width: 90%;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-us {
    font-size: 18px;
    font-weight: 500;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    margin-top: 5%;
    color: white;
    background-color: #F58BAB;
    text-decoration: none;
    transition: all 0.3s;
}

.btn-us:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttons-media {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.icon-media {
    font-size: 50px;
}

.icon-face {
    color: #3A589E;
}

.icon-insta {
    color: #FE0193;
}

.icon-whats {
    color: #3EC34F;
}

/* === End Home content === */

/* === Menu content === */
#Menu {
    margin-top: 4%;
}

.menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-menu-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5%;
    width: 85%;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    border-radius: 5px;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    margin-top: 4%;
    margin-bottom: 4%;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    border-radius: 10px;
    color: var(--text-black);
    font-size: 20px;
    background-color: var(--background-soft-pink);
}

.img-item {
    width: 60%;
    margin-bottom: 5%;
}

/* === End Menu content === */

/* === Us content ===  */
#Us {
    margin-top: 4%;
}

.icon-heart {
    font-size: 25px;
    color: red;
}

.us-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.us-info-content {
    width: 80%;
    display: flex;
}

.text-us {
    text-align: justify;
}

.button-container-us {
    margin-top: 40px;
}

.button-contact-us {
    text-decoration: none;
    cursor: pointer;
    background-color: #ee707d;
    color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

/* Responsive desing */
@media (max-width: 940px) {
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }

    #menu-click:checked ~ ul{
        left: 0%;
    }

    #menu-click:checked ~ .menu-btn i::before {
        content: "\f00d";
    }

    nav .menu-btn i {
        display: block;
    }

    nav ul li {
        margin: 40px 0;
    }

    nav ul li a {
        font-size: 20px;
        display: block;
    }

    nav ul li a:hover,
    nav ul li a.active {
        color: #E7AF9D;
        background: none;
    }
}